<%- include("includes/head.ejs") %>
<body>
    <h2>@<%=data.name%></h2>
    <button>Follow</button>
    <button>Message</button>
    <h3>followers: <%=data.followers %> followings: <%=data.followings %></h3>
    <hr>
    <% data.post.forEach((val)=>{ %>
        <img src="<%=val.image %>" alt="men">
        <h5>like: <%=val.likes%>     comment: <%=val.comments%></h5>
    <%})%>
    
    <%- include("includes/footer.ejs") %>
</body>
</html>